{% extends "base.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bfc51b6323.js" crossorigin="anonymous"></script>
    <title>Tienda</title>
</head>

<body>

  
    <div class="container">
        <div style="float: right; margin-top: 40px; height: 800px; width: 250px; margin-left: -60px; margin-right: -80px; border-radius: 20px; background-color: rgba(67, 185, 57, 0.932); padding-top: 30px; padding-left: 10px; padding-right: 10px;">
            <i class="fas fa-shopping-cart" style="margin-left: 30px; font-size: 18px; color: rgba(0, 0, 0, 0.555);">Carrito de la compra</i>
            <p style="text-align: center; font-size: smaller; color: rgba(0, 0, 0, 0.979); margin-top: 20px;">Agregue los productos que desea comprar aqui.</p>
          
            {% include "shopping_cart/widget.html" %}
            
           
        </div>
        <div class="row">
            {% for p in all_products_key %}
                <div class="col-md-3" style="width: 80%;">
                    <div class="card"" style="background-color: rgb(255, 102, 102); margin-top: 40px; margin-left: -100px; margin-bottom: 40px; height: 390px; border-radius: 20px; width: 200px;">
                        <img class="card-img-top" src="{{p.imagen.url}}" alt="" style="width: 200px; height: 100%; object-fit:cover; border-radius: 20px;">
                        <div class="card-body" style="color: white;">
                            <h7>{{p.nombre}}</h7>
                            <p>$ {{p.precio}}</p>
                        </div>
                        
                        <div class="card-footer text-center">
                            <a href="{% url 'cart:add' p.id %}" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <section>
        <div style="width: 70%; background-color: rgba(255, 255, 255, 0.568); padding: 15px;margin: auto ;text-align: center; height: 200px; border-radius: 50px; margin-bottom: 100px;">
            <ul style="width: 10%; margin: auto;">Categorias:
                {% for c in all_product_categories_key %}
                        <li><a href="{% url 'prod_filt' c.id %}">{{c.nombre}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endblock %}
</body>
</html>

